.jokes-main {
    background-color: rgba(237, 242, 253, 0.445);
    border: 1px solid rgb(103, 103, 238);
    min-height: 50px;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 20px;


    display: block;
    width: 100%;
    margin: auto;
    margin: 10px 0px;

}

.setup {
    min-height: 20px;
    padding: 0px 10px;

}

.delivery {
    min-height: 20px;
    padding: 0px 10px;

}